#bdy {
    overflow: hidden;
}

.head_item {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

.head_item:hover {
    text-decoration: underline;
    color: whitesmoke;
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}


#headder {
    border-radius: 0px 0px 5px 5px;
}

#headder .nav li:nth-child(3) {
    padding-left: 77vw;
    width: 2%;
}

#bg_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/backgroung.png');
    /* Background image URL */
    background-size: cover;
    filter: brightness(0.35);
    z-index: -1;

}

#output_pannel {
    margin-top: 4vh;
}

#home_pannel {
    height: 80vh;
    border: 2px solid rgba(204, 203, 203, 0.637);
    border-radius: 8px;
}

#home_contant_pannel {
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home_contant_image {
    /* border: 2px solid white; */
    border-radius: 5%;
    width: 15%;
    height: 50%;
    position: relative;
    left: 2vw;
    display: flex;
    align-items: end;
}

#home_image {
    border: 2px solid white;
    border-radius: 100%;
    height: 30%;
    width: 100%;
}

#image_home_home {
    width: 172%;
    height: 339%;
    position: relative;
    bottom: 27vh;
    rotate: -6deg;
    right: 4.5vw;
    border-radius: 100%;
    animation: image 1s;
    animation-timing-function: ease;
}

#home_contant_text {
    /* border: 2px solid white; */
    width: 60%;
    height: 70%;
    padding: 3vh;
    position: relative;
    left: 0vw;
    animation: artical 1s;
    animation-timing-function: linear;

}

#artical_heading {
    color: whitesmoke;
    text-decoration: underline;
}

#artical_text {
    color: rgba(245, 245, 245, 0.548);
    margin-top: 4vh;
    text-align: justify;
}

#home_hud_pannel {
    height: 50vh;
    width: 99.8%;
    margin-top: 35vh;
    z-index: 1;
    position: absolute;
    top: 11vh;
}

.home_nav_button_pannel {
    height: 17%;
    display: flex;
    justify-content: space-between;
}

.home_nav_button {
    height: 100%;
    width: 4%;
    border-radius: 50%;
    border: 2px solid rgb(146, 146, 146);
    /* background-color: rgba(255, 255, 255, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_nav_button:hover {
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid white;
}

.icon {
    filter: invert(1);
}

#page_dots_pannel {
    height: 4%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 4px;
    margin-top: 30vh;
}

.page_dots {
    border: 2px solid white;
    height: 100%;
    width: 1%;
    display: inline-block;
    border-radius: 50%;
}

.page_dots:hover {
    background-color: burlywood;
}

#page_dot_1 {
    background-color: burlywood;
    animation: page_dot 10ms;
    animation-timing-function: linear;
}

#lg_sp_pannel {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#lg_pannel {
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
    width: 60vw;
    backdrop-filter: blur(5px);
}

#pannel_head {
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid white;
}

.buttons {
    text-decoration: none;
    color: rgb(202, 201, 201);
}

.buttons:hover {
    color: white;
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

#mainpannel {
    padding-top: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

label {
    color: whitesmoke;
    margin: 1vh;
}

input {
    width: 100%;
    height: 7vh;
    border: none;
    border-radius: 5px;
    padding-left: 3%;
    background-color: rgba(255, 255, 255, 0.062);
    margin-bottom: 1vh;
    color: whitesmoke;
}

#pass_eye {
    width: 20px;
    filter: invert(1);
    position: relative;
    left: 92%;
    top: -7.7vh;
}

#c_pass_label {
    margin-left: -1.5vw;
}

#login_btn,
#Signup_btn,
#c_submit {
    margin-top: 3vh;
    margin-left: 25%;
    font-size: larger;
    font-weight: 500;
    border: none;
    background-color: rgba(139, 139, 139, 0.171);
    color: whitesmoke;
    height: 7vh;
    width: 12vw;
}

#login_btn:hover,
#Signup_btn:hover,
#c_submit:hover {
    border: 2px solid whitesmoke;
    border-radius: 4px;
    scale: 1.1;
    background-color: rgba(139, 139, 139, 0.603);
}

#mainpannel_contact {
    padding-top: 2vh;
    display: flex;
    width: 100%;
    height: 77vh;
    justify-content: space-around;
    color: antiquewhite;
    margin-right: -3vw;
}

#contact_info {
    align-self: flex-start;
}

#complain_box {
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
    width: 32vw;
    backdrop-filter: blur(5px);
    padding-top: 1%;
}

#c_box_heading {
    border-bottom: 2px solid white;
    height: 15%;
    text-align: center;
}

#c_box_input {
    display: flex;
    justify-content: center;
}

#c_box_input_pannel {
    width: 70%;
}

#Complain_area {
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    color: white;
}

#c_submit {
    margin-left: 23%;
}

#contact_info_pannel {
    margin-top: 2vw;
}

#contact_info_heading {
    text-decoration: underline;
}

#contact_info {
    margin-top: 4vh;
    /* border: 2px solid white; */
    height: 60vh;
    font-size: x-large;
    width: 20vw;
    margin-right: -7vw;
    padding-left: 20%;
}

#linkedin_link {
    text-decoration: underline;
    color: rgb(202, 201, 201);
}

#linkedin_link:hover {
    color: rgb(37, 120, 245);
}

.contact_links {
    margin-left: 2vw;
    color: rgb(202, 201, 201);
}

#footer {
    background-color: rgba(19, 19, 19, 0.678);
    height: 6vh;
    position: relative;
    top: 3.7vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(85, 85, 85, 0.459);
    z-index: 1;
}

/* animations */

@keyframes image {

    0% {
        right: 3.56vw;
        transform-origin: bottom;
        transform: scaleY(0);
    }

    100% {
        right: 3.56vw;
        transform-origin: bottom;
        transform: scaley(1);
}
}

@keyframes artical {
    0% {
        left: 60vw;
        opacity: 0%;
    }

    100% {
        left: 0vw;
        opacity: 100%;
    }
}

@keyframes page_dot {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: burlywood;
    }
}

/* bootstrab modify */

.navbar {
    justify-content: flex-start;
    padding-left: 3%;
    gap: 20px;
}

/* runtime  class */

.head_runtime {
    text-decoration: underline;
    color: whitesmoke;
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}